@page "/delete-user/{UserId:long}"
@using Microsoft.Extensions.Options
@inject FortinAPIClient _fortinClient
@inject IOptionsMonitor<ProxyBaseUrls> _baseUrls
@inject NavigationManager NavigationManager

<PageTitle>Delete User</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <p>Are you sure you want to delete this?</p>
        <UserForm  UserId="@UserId" OnValidUserSubmit="DeleteUserSubmit"></UserForm>
    </div>
</div>

@code {
    [Parameter]
    public long UserId { get; set; }

    private async Task DeleteUserSubmit()
    {
        await _fortinClient.DeleteUserAsync(UserId);

        NavigationManager.NavigateTo("/users");
    }
}
